@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&family=Noto+Sans+Sogdian&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans+Sogdian&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans+Sogdian&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;500&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

nav {
  background: white;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  margin: 0 20px;
}

/* logo inside navbar */
.navbar-logo{
  width: 5rem;
}
 
/* navbar search form */
nav form {
  display: flex;
  height: 3rem;
  padding: 2px;
  background: white;
  min-width: 60% !important;
  border-radius: 5px;
  border: 1px solid rgb(41, 38, 38);
}
nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #14181f;
  font-size: 17px;
  border: none;
  outline: none;
  font-weight: 500;
  background: white;
  z-index: 100;
}
/* navbar search button */
nav form button {
  padding: 0 15px;
  color: #14181f;
  font-size: 17px;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
/* icons inside navbar */
.icons {
  display: flex;
  align-items: center;
}
.cart-icon {
  width: 1.3rem;
  margin-left: 0.4rem;
}
.user-icon {
  width: 1.2rem;
  margin-left: 1rem;
}
.delivery-icon {
  width: 2rem;
  margin-left: 1rem;
  margin-top: .2rem;
}

/* navbar search icon */
.navbar-search-icon{
  width: 1.2rem;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  font-size: 18px;
  color: #14181f;
  cursor: pointer;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}
/* hr above nav-items */
.hr {
  border: 0;
  height: 1px;
  background-color: #14181f;
  margin-top: 0;
}
/* items after navbar */
.nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
  justify-content: center;
  margin-bottom: 1rem;
}
.nav-items li {
  list-style: none;
  padding: 0 15px;
}
.nav-items li a {
  color: #14181f;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
}
nav .nav-items li a:hover {
  color: #ff3d00;
}

/* media queries for medium screens */
@media (max-width: 1140px) {
  .cart-icon {
    margin-left: 0;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }

  .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 72%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: white;
    display: inline-block;
    transition: left 0.3s ease;
  }
  /* navitems inside hamburger menu  */
  .nav-items.active {
    left: 0px;
    overflow-y: auto;
  }
  .nav-items li {
    line-height: 40px;
    /* margin: 30px 0; */
  }
  .nav-items li a {
    font-size: 20px;
  }
  /* navbar search form */
  nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  /* navbar form after*/
  nav form:after {
    position: absolute;
    content: "";
    height: 60px;
    padding: 2px;
    background: white;
    border-radius: 15px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon {
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span {
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }
}
 /* media queries for tablets screen */
@media (max-width: 980px) {
  .user-icon {
    display: none;
  }
  .cart-icon {
    margin: 0;
  }
}
/* media queries for small screens */
@media (max-width: 380px) {
  nav,
  nav .cancel-icon,
  nav .search-icon {
    font-size: 16px;
  }
  .search-icon,
  .menu-icon {
    margin-left: 0;
    margin-right: 0;
  }
  .search-icon {
    margin: 5px 0;
  }
  .user-icon {
    display: none;
  }
  .cart-icon {
    margin-left: 0;
    /* width: 15px; */
  }

  .delivery-icon{
    margin-left: 0.2rem;
  }
}
/* Dropdown Button */
.dropbtn {
  background: transparent;
  color: black;
  padding: 16px;
  font-size: 18px;
  font-weight: 500;
    border: none;
  margin-top: -15px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {background-color: #3e8e41;} */


a,
.nav-link {
  text-decoration: none;
}

/* Font family for navbar and footer */

.footer-links-header {
  font-family: "Mukta", sans-serif;
  font-family: "Noto Sans Sogdian", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Slab", serif;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.footer-links {
  color: #14181f;
}

/* Footer styling */
.footer-top-border {
  border-top: 1px solid #36454f;
}
/* social media icons style */
.fa-facebook,
.fa-instagram,
.fa-twitter {
  color: #36454f;
}
