@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;1,100&family=Noto+Sans+Sogdian&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans+Sogdian&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans+Sogdian&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;500&family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

/*Logo*/
.logo {
  text-decoration: none;
  color: #1e232b;
  font-family: "Mukta", sans-serif;
  font-family: "Noto Sans Sogdian", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Playfair Display", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Slab", serif;
  font-family: "Rubik", sans-serif;
  font-size: 45px;
}
.logo:hover {
  color: #14181f;
}
* {
  box-sizing: border-box;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}
a {
  color: #14181f;
}

/* Custom styles for the dropdown menu */
.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.dropdown-menu {
  border: none; /* Remove the border */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  max-height: none; /* Remove max-height to show all content */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

.dropdown-item {
  padding: 10px 20px;
  border: none; /* Remove the border */
}

.dropdown-item:hover {
  background-color: #f8f9fa; /* Change the background color on hover */
}
a:hover {
  color: #14181f;
}

nav {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  background-color: white;
}
nav .nav-items {
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li {
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a {
  /* color: #fff; */
  color: black;
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  font-size: 18px;
}
nav .nav-items li a:hover {
  /* color: #ff3d00; */
}
nav form {
  display: flex;
  height: 40px;
  padding: 2px;
  border-top-left-radius: 8px;
  /* background: #1e232b; */

  min-width: 30% !important;
  border-radius: 2px;
  border: 1px solid rgba(155, 155, 155, 0.2);
}
nav form .search-data {
  width: 100%;
  height: 100%;
  padding: 0 10px;
  /* color: #fff; */
  color: #14181f;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button {
  padding: 0 15px;
  color: black;
  font-size: 17px;
  border: none;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
}
nav form button:hover {
  /* background: #e63600; */
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon {
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  /* color: black; */
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon {
  display: none;
}
@media (max-width: 1245px) {
  nav {
    padding: 0 50px;
  }
}
@media (max-width: 1140px) {
  nav {
    padding: 0px;
  }
  nav .logo {
    flex: 2;
    text-align: center;
  }
  nav .nav-items {
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: white;
    color: white;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active {
    left: 0px;
  }
  nav .nav-items li {
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a {
    font-size: 20px;
  }
  nav form {
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active {
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before {
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: 1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after {
    position: absolute;
    content: "";
    height: 60px;
    padding: 2px;
    /* background: #1e232b; */
    background-color: white;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon {
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span {
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide {
    display: none;
  }
  nav .cancel-icon.show {
    display: block;
  }
}

nav .logo.space {
  color: black;
  padding: 0 5px 0 0;
}
@media (max-width: 980px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 20px;
  }
  nav form {
    right: 30px;
  }
}
@media (max-width: 350px) {
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon {
    margin: 0 10px;
    font-size: 16px;
  }
}

a,
.nav-link {
  text-decoration: none;
}

/* Font family for navbar and footer */

.footer-links-header {
  font-family: "Mukta", sans-serif;
  font-family: "Noto Sans Sogdian", sans-serif;
  font-family: "Nunito", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Mono", monospace;
  font-family: "Roboto Slab", serif;
  font-family: "Rubik", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.footer-links {
  color: #14181f;
}

/* Footer styling */
.footer-top-border {
  border-top: 1px solid #36454f;
}
/* social media icons style */
.fa-facebook,
.fa-instagram,
.fa-twitter {
  color: #36454f;
}
