@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Sogdian&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Sogdian&family=Open+Sans:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Noto+Sans+Sogdian&family=Open+Sans:wght@300;400;500&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.order-tracking-header {
  /* text-align: center; */
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans Sogdian", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  color: #36454f;
  font-size: 40px;
  /* background-color: gainsboro; */
}
.tracking-form{
  width: 500px;
  height: 2.5rem;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #36454f;
  outline: none;
}
.button {
  /* background-color: black; */
  outline: none;
  border: none;
  color: black;
  border: 1px solid #36454f;
  background-color: white;
  width: 150px;
  height: 40px;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  font-family: "Noto Sans Sogdian", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Roboto Slab", serif;
  margin-top: 20px;
}
.button:hover {
  background-color: #36454f;
  color: white;
}

@media (max-width: 500px) {
  .tracking-form{
    width: 300px;
    height: 2.3rem;
  }
  .button{
    font-size: .9rem;
    width: 130px;
    height: 30px;
    margin-top: 10px;
  }
}
@media (max-width: 350px) {
  .order-tracking-header{
    font-size: 2rem;
  }
}