@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Mukta:wght@200;300;400;500;600;700;800&family=Noto+Sans+Sogdian&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Open+Sans:wght@300;400;500&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto+Mono:wght@100;200;300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: poppins;
}
a {
  text-decoration: none;
  color: #36454f;
}
a:hover {
  color: #36454f;
}
.main-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-container h3 {
  font-size: 20px;
  margin-top: 20px;
}

.input-group {
  margin-bottom: 15px;
}
.form-select {
  outline: none;
}

.form-control {
  /* width: 100%; */
  height: 50px;
  font-size: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-check-input {
  margin-top: 5px;
}

label {
  font-weight: 400;
}
.price p {
  font-weight: 500;
  /* font-size: 18px; */
  margin: 0;
}
.sub-price {
  font-size: 30px;
}
.total {
  font-weight: 500;
  font-size: 20px;
}
.price,
.shipping,
.subtotal {
  justify-content: space-between;
}
.main-header {
  font-weight: 700;
  font-family: poppins;
  /* display: inline-block; */
  font-size: 45px;
  padding-left: 200px;
  text-align: center;
}
.left-side-shipping-btn {
  width: 200px;
  height: 50px;
  background-color: #36454f;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
}
.right-apply-btn {
  background-color: #36454f;
  color: white;
  border: none;
  height: 3rem;
  width: 100px;
  border-radius: 5px;
  outline: none;
}
@media (max-width:1370px) {
  .right-apply-btn{
    width: 6vw;
  }
}
@media (max-width: 990px) {
  .right-apply-btn{
    width: 100px;
  }
}
@media (max-width: 600px) {
  .right-apply-btn{
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .col-lg-6 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .right-apply-btn{
    font-size: .9rem;
    width: 90px;
  }
}
@media (max-width: 500px) {
  .left-side-shipping-btn{
    width: 150px;
    font-size: .8rem;
  }
  .calculated{
    font-size: .8rem;
  }
  .gift-card{
font-size: .7rem;
  }
  .address,.number,.first-name,.last-name,.city,.postal-code{
    font-size: .8rem;
  }
  .city{
    width: 100px;
  }
  .postal-code{
    width: 150px;
  }
  .right-apply-btn{
    /* margin-top: 10px; */
    /* font-size: 1.9em; */
  }
  .sub-price{
    font-size: 1.2rem;
  }
  .main-header{
    font-size: 1.7rem;
    padding-left: 90px;
  }
}

@media (max-width: 350px) {
  .city{
    width: 100px;
  }
  .postal-code{
    width: 150px;
  }
  .gift-card{
    font-size: 1rem;
  }
}